body {
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}

.initialLoader {
	position:absolute;
	margin:-12px 0 0 -125px;
	width:250px;
	left: 50%;
	top:50%;
	
    background-color: #1a1a1a;
    height: 25px;
    padding: 5px;
   
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
	
}

.initialLoader div {
	position:relative;
	width:0%;
	height:100%;
	line-height: 23px;
	margin:0;
	color: #dedede;
	text-align:right;
    background-color: #ff0000;
    height: 100%;   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
}


.loginDialog .ui-dialog-titlebar-close {
    display:none;
}

.loginDialog div.loginError {
    padding:1em;
    width:70%;
    margin:0 auto;
}


.loginDialog label {
    width:40%;
    text-align:right;
    padding:.3em;
    float:left;
}

.loginDialog div span {
    float: left;
    margin-right:.2em;
}

.loginDialog div span.loader {
    float: none;
    margin-left:.2em;
}

.loginDialog .description {
    width:60%;
    padding:.7em;
    margin:.8em auto;
    text-align:center;
}

.loginDialog .description p {
    margin-right: 1em;
}

.loginDialog p {
    text-align:left;
}

.loginDialog p.submit {
    text-align:center;
    margin-top:1em;
}

.loginDialog p.language {
    text-align:center;
    margin-top:1em;
}

#header {
	padding: 10px 15px;
}

#header h1, #header h2 {
    padding: .2em 0;
}

#header h1 {
    font-size:1.3em;
}


#header h2 {
    color:#777;
    font-size:.8em;
}

#sidebar h2 {
    font-size: 1.05em;
    padding: 0.3em 0 0.4em 28px;
}

#sidebar div {
    padding: 0.4em;
}

#sidebar ul {
     list-style: none;
}
#sidebar li {
    padding: 0.5em;
    font-size:0.9em;
}
#sidebar li:not(.ui-state-highlight) {
    border: 1px solid transparent;
}

#sidebar li a {
    text-decoration:none;
    margin-left:0.4em;
    outline: none;
    display: block;
}

#sidebar{
    padding: 0px 15px 0 0;
    display: none;
}

#sidebar .compact {
    display: none;
}

#sidebar .iconsidebar {
    height: 15px;
}

#canvasWrapper {
    min-height: 700px;
    padding: 0px 15px 15px 0;
    width: auto;
}

#canvas, .canvas {
    min-height:700px;
    overflow:hidden;
    width:auto;
    margin:1px;
}

#canvasWrapper ul.tabs {
    height:35px;
}

.ui-scrollable-tabs{overflow:hidden;position:relative;}
.ui-scrollable-tabs .ui-tabs-nav {width:1000000px;padding:1px 0 0 1px;border-left:none;border-right:none;padding-top:1px;position:relative}
.ui-scrollable-tabs .ui-tabs .ui-tabs-closable li a{padding-right:5px}
.ui-scrollable-tabs .ui-tabs-nav-arrows{left:0;margin:0;margin:0 0.05em;padding:0;position:absolute;right:0;top:2px;}
*:first-child+html .ui-scrollable-tabs .ui-tabs-nav-arrows{z-index:1}

.ui-scrollable-tabs .ui-tabs .ui-tabs-nav li{top:1px;margin:0 1px 0}
.ui-scrollable-tabs .ui-tabs .ui-tabs-nav li.ui-tabs-selected{top:2px}

.ui-tabs-nav li .ui-tabs-close{float:left;margin-top:8px;margin-right:4px;border:none;cursor:pointer}
.ui-scrollable-tabs .ui-tabs-nav-arrows .ui-tabs-arrow-next{float:right;border-right:none;z-index: 50;}
.ui-scrollable-tabs .ui-tabs-nav-arrows .ui-tabs-arrow-previous{float:left;border-left:none;z-index: 50;}
.ui-scrollable-tabs .ui-tabs-nav-arrows li{list-style:none;position:relative;cursor:pointer;margin: 0.1em 0.07em; padding: 0.2em;display:none;z-index:1;height:35px;border-top:1px;border-bottom:0;background-image:none;}
.ui-scrollable-tabs .ui-tabs-nav-arrows li a{display:block;padding:9px 3px 14px;outline:none;}


.ui-tooltip {
    position:absolute;
    padding:1.2em;
    font-size:.85em;
    z-index: 9000;
    background: rgba(30, 30, 30, 0.87);
    color: #fff;
    border-radius: 5px;
}


ul#tabsList {
    overflow:hidden;
    border-bottom:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    display:none;
    z-index:10;
}

#tabsList li {
    display:inline;
}

#tabsList li .ui-icon-close { float: right; margin: 0em 0.2em 0 0; cursor: pointer; }
#tabsList li .ui-icon-arrowrefresh-1-w { float: right; margin: 1em -1em 0 0; cursor: pointer; }


 #tabsList li.ui-state-default a {
/*    text-indent: -99999px;
    width:0;*/
    padding: 0.5em .1em;
    margin:0;
}


#tabsList li.ui-state-default span.ui-silk {
    display:block;
    float:left;
    margin:.5em;
    cursor:pointer;
}

#tabsList li.ui-state-active a {
    margin: 0 0.2em 0 0.5em;
    padding: 0.5em 0.1em;
    text-indent: 0;
    width: auto;
}

#tabsList li.changed a:before {
    content: '*';
}

#footer p {
    text-align:center;
}


div.ui-tabs-panel {
    padding: 0.1em 0.05em;
}


#applicationLogo {
    float:left;
}

#applicationInfo {
	text-align:right;
}

#header.collapsedHeader #applicationInfo {
	text-align:left;
}



#applicationTools  {
    height: 27px;
	padding: 0.5em 0 0.2em;
	text-align: right;
	position: relative;
    
}

#headerToolsbar {
    font-size: 0.7em;
    padding: 0.8em 0;
    display:none;
    position: absolute;
    right: 0;
}
    
#applicationTools .ui-buttonset {
    position: absolute;
    margin-right:2px;

}
#applicationTools label {
    z-index:10;
}

#applicationTools .pickableLanguage {
    font-size: 1.3em;
    height: 24px;
    overflow: hidden;
    position: relative;
    width: 0;
    z-index: 5;
    display:none;
    top: 0;
}

#applicationTools .pickableLanguage span {
    position: absolute;
    top:0;
    left:0;
    height: 19px;
    width:85px;
    margin:0;
    padding: 0.4em 0;
}

#applicationTools #themeRollerSelector{
	display:none;
}

#applicationTools .selectboxit-container .selectboxit {
	border-radius: 0;
}

#applicationTools .selectboxit-container span, 
#applicationTools .selectboxit-container .selectboxit-options a{
	height: 100%;
	line-height: 2.2em;
	font-size: 1.1em;
}

#loginToolsbar {
    font-size: 0.7em;
    padding: 0.8em 0;
    position: absolute;
    display:none;
    right: 0;
}
#loginTools {
height: 40px;	
}

#loginTools .ui-buttonset {
    position: relative;
    float:right;

}
#loginTools label {
    z-index:10;
    width: 15px;
    
}
#loginTools span.ui-button-text {
	padding: 0 0 0;
	
}
#loginTools .pickableLanguage {
    font-size: 1.3em;
    height: 24px;
    overflow: hidden;
    position: relative;
    display:none;
    width: 0;
    z-index: 5;
    top: 0;
    
    font-size: 1.1em;
height: 22px;
padding: 0;
}

#loginTools .pickableLanguage span {
    position: absolute;
    top:0;
    left:0;
    height: 19px;
    width:85px;
    margin:0;
/*     padding: 0.4em 0; */
    text-align: center;
    top: 4px;
}



#headerbar {

}

#headerbar .toolbar {
    float: right;
    margin: 4em 1em 0 0;
    padding: 0.1em;
    /*position: absolute;
    right: 0;*/
}

/*#headerLanguagebar{
    float: right;
    margin: 15px 0 0;	
}

.langSelector {
    font-size: 0.8em;
	display:none;
}

#headerToolsbar{
	display:none;
    float: right;
    margin: 15px 0 0;   
}
*/

/*
.klear-headerbar-menu li{
    float: left;
    list-style: none outside none;
    margin: 0 0.2em;
}

.klear-headerbar-submenu{

    float: left;
    list-style: none outside none;
    padding: 9px;
}

.klear-headerbar-submenu li{
    float: left;
    list-style: none outside none;
    margin: 0 0.2em;

}

.klear-headerbar-menu .ui-silk, .klear-headerbar-menu .ui-icon {

        border: 1px solid red;
    float: left;
    margin: 0.25em;
}
*/

#footerbar {
    float: left;
    margin: 0.2em 0 0.8em;
    text-align: center;
    width: 100%;
    font-size:0.9em;
}
#footerbar ul li{
    cursor: pointer;
    display: inline;
    list-style: none outside none;
    margin: 4px;
    padding: 4px 0;
    position: relative;
}

#footerbar ul li a, #footerbar ul li a:hover, #footerbar ul li a:visited, #footerbar ul li a:active {
	color: #333;
	text-decoration:none;

}

/*
LOADING PANEL
*/
.loadingPanel{
    position:fixed;
    display:none;
    padding:3em;
    z-index:1001;
    font-size: 1.5em;
    left: 2em;
    padding: 3em 1.5em 1.5em 3em;
    position: absolute;
    top: 2em;
    width: 13%;
    min-width: 200px;
    
}


div.overlay {
    position:absolute;
    top:0;
    left:0;
    background:#fff;
}

.loadingPanel p{
    margin: -0.5em 0 0 3em;
    background: transparent;
}

.loadingPanel p.extra {
    color: #000;
    font-size: 0.6em;
    margin: 1.3em -2em -1em;
    padding: 0;
    opacity:0.2
}

.loadingPanel p.extra span.inline {
    display:none;
}

.loadingPanel p.extra.complete {
	color: #000;
	opacity: 1;
}

.loadingPanel p.extra.complete span.inline {
    display:inline;
}

.loadingPanel .spinner div {
    background:#000;
}
/*
MESSAGES
*/
.inlineMessage{
    margin: 0 0 10px;
    padding: 0.3em 0.7em;
}
.inlineMessage-icon{
    float: left;
    margin-right: .3em;
}
/*
PANEL
*/
.ui-tabs .ui-tabs-panel{
    min-height: 647px;
    padding: 0.5em;
    height: auto;
    overflow: auto;
    padding: 0.5em;
    position: relative;
}
.dialogTitle {
    margin:0 10px 0 0;
}
.ui-icon.inline {
    float: left;
}

.ui-resizable-helper { border: 1px dotted gray; }


.ui-combobox {
		position: relative;
		display: inline-block;
		margin-right: 1em;
}
.ui-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	/* adjust styles for IE 6/7 */
	*height: 1.7em;
	*top: 0.1em;
}
.ui-combobox-input {
	margin: 0;
	padding: 0.3em;
}

.ui-datepicker {
	box-shadow:#999 0px 10px 10px 10px;
	}

ul.ui-autocomplete {
	box-shadow:#999 0px 10px 10px 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	max-height:400px;
	overflow: auto;
}

strong.errorLine {
    color: #800;
}

input, textarea {
	padding: 0.15em 0.25em;
}


@media screen and (max-width: 680px){
    #canvasWrapper {
        float:left;
        width: 98%;
    }
    #sidebar{
        float:left;
        width: 98%;
    }
}

