body {
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}

#header {
}

#header #logoApp {
    float:left;
    width:180px;
    margin:-40px 0 20px 20px;
}
#header h1, #header h2 {
    margin-left:180px;
    width:400px;
}

#header h1 {
    margin-top:50px;
	font-size:1.3em;
}


#header h2 {
	color:#777;
	margin-top:.3em;
	font-size:.8em;	
}

#sidebar h2 {
	padding:0.2em 0 0.2em 28px;
	font-size:1.2em;
}

#sidebar div {
	padding: 0.4em;
}

#sidebar ul {
	 list-style: none;		
}
#sidebar li {
	padding: 0.5em;	
	font-size:0.9em;
}

#sidebar li a {
	text-decoration:none;
	margin-left:0.4em;
}

#sidebar{
    padding: 15px 15px 0 0;
    display: none;
}

#canvasWrapper {
    min-height: 700px;
    padding: 15px 15px 15px 0;
    width: auto;
}

#canvas {
	min-height:700px;
	overflow:hidden;
	width:auto;
	margin:1px;
}

#canvasWrapper ul.tabs {
	height:37px;
}

.ui-scrollable-tabs{overflow:hidden;position:relative;}
.ui-scrollable-tabs .ui-tabs-nav {width:1000000px;padding:1px 0 0 1px;border-left:none;border-right:none;padding-top:1px;position:relative}
.ui-scrollable-tabs .ui-tabs .ui-tabs-closable li a{padding-right:5px}
.ui-scrollable-tabs .ui-tabs-nav-arrows{left:0;margin:0;margin:0 0.05em;padding:0;position:absolute;right:0;top:2px;}
*:first-child+html .ui-scrollable-tabs .ui-tabs-nav-arrows{z-index:1}
.ui-scrollable-tabs .ui-tabs .ui-tabs-nav li{margin:0 1px 0}
.ui-tabs-nav li .ui-tabs-close{float:left;margin-top:8px;margin-right:4px;border:none;cursor:pointer}
.ui-scrollable-tabs .ui-tabs-nav-arrows .ui-tabs-arrow-next{float:right;border-right:none;}
.ui-scrollable-tabs .ui-tabs-nav-arrows .ui-tabs-arrow-previous{float:left;border-left:none;}
.ui-scrollable-tabs .ui-tabs-nav-arrows li{list-style:none;position:relative;cursor:pointer;margin: 0.1em 0.07em; padding: 0.2em;display:none;z-index:1;height:35px;border-top:1px;border-bottom:0;background-image:none;}
.ui-scrollable-tabs .ui-tabs-nav-arrows li a{display:block;padding:9px 3px 14px;outline:none;}

.ui-tooltip {
	position:absolute;
	padding:1.3em;
	font-size:.85em;	
}

ul#tabsList {
	overflow:hidden;
	border-bottom:0;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	display:none;
}

#tabsList li {
	display:inline;
}

#tabsList li .ui-icon-close { float: right; margin: 0.4em 0.2em 0 0; cursor: pointer; }

 #tabsList li.ui-state-default a {
/*    text-indent: -99999px;
    width:0;*/
    padding: 0.5em .1em;
    margin:0;
}

#tabsList li.ui-state-default span.ui-silk {
	display:block;
	float:left;
	margin:.5em;
	cursor:pointer;
}

#tabsList li.ui-state-active a {
    margin: 0 0.2em 0 0.5em;
    padding: 0.5em 0.1em;
    text-indent: 0;
    width: auto;	
}

#tabsList li.ui-state-active span.ui-silk {
	margin-right:-.2em;
	
}

#tabsList li.changed a:before {
    content: '*';
}

#footer p {	
	text-align:center;	
}


div.ui-tabs-panel {
    padding: 0.1em 0.05em;	
}

#headerbar {

}

#headerbar .toolbar {
    float: right;
    margin: 4em 1em 0 0;
    padding: 0.1em;
    /*position: absolute;
    right: 0;*/
}



/*
.klear-headerbar-menu li{
    float: left;
    list-style: none outside none;
    margin: 0 0.2em;
}

.klear-headerbar-submenu{
    
    float: left;
    list-style: none outside none;
    padding: 9px;
}

.klear-headerbar-submenu li{ 
    float: left;
    list-style: none outside none;
    margin: 0 0.2em;
    
}

.klear-headerbar-menu .ui-silk, .klear-headerbar-menu .ui-icon {
	
	    border: 1px solid red;
    float: left;
    margin: 0.25em;
}
*/

#footerbar {
    float: left;
    margin: 0.2em 0 0.8em;
    text-align: center;
    width: 100%;
}
#footerbar ul li{
    cursor: pointer;
    display: inline;
    list-style: none outside none;
    margin: 4px;
    padding: 4px 0;
    position: relative;
}
#footerbar ul li a{ text-decoration:none; }

/*
LOADING PANEL
*/
#loadingPanel{
    position:absolute;
    display:none;
    margin:18px auto auto 30%;
    width: 20%;
    padding-top:30px;
}

/*
MESSAGES
*/
.inlineMessage{
    margin: 0 0 10px;
    padding: 0.3em 0.7em;	
}
.inlineMessage-icon{
	float: left; 
	margin-right: .3em;
}
/*
PANEL
*/
.ui-tabs .ui-tabs-panel{
	min-height: 647px;
    padding: 0.5em;
    height: auto;
    overflow: hidden;
    padding: 0.5em;
    position: relative;	
}
.dialogTitle {
	margin:0 10px 0 0;
}
.ui-icon.inline {
	float: left;
}


.loadingCircle {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(230,98,23, 0.9);
	opacity:.9;
	border-right:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 35px #E66217;
	width:50px;
	height:50px;
	margin:0 auto;
	-moz-animation:spinPulse 1s infinite ease-in-out;
	-webkit-animation:spinPulse 1s infinite linear;
}

.loadingCircle1 {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(230,98,23, 0.9);
	opacity:.9;
	border-left:5px solid rgba(0,0,0,0);
	border-right:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 15px #E66217;
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-50px;
	-moz-animation:spinoffPulse 1s infinite linear;
	-webkit-animation:spinoffPulse 1s infinite linear;
}


@-moz-keyframes spinPulse {
    0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #E66217;}
    50% { -moz-transform:rotate(145deg); opacity:1; }
    100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
    0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #E66217; }
    50% { -webkit-transform:rotate(145deg); opacity:1;}
    100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
}