body {
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}

#header {
}

#header #logoApp {
    float:left;
    width:180px;
    margin:-40px 0 20px 20px;
}
#header h1, #header h2 {
    margin-left:180px;
    width:400px;
}

#header h1 {
    margin-top:50px;
	font-size:1.3em;
}


#header h2 {
	color:#777;
	margin-top:.3em;
	font-size:.8em;	
}

#header .toolbar {
	float:right;
	margin:4em 1em 0 0;
	padding:.3em;
}

#sidebar h2 {
	padding:0.2em 0 0.2em 28px;
	font-size:1.2em;
}

#sidebar div {
	padding: 0.4em;
}

#sidebar ul {
	 list-style: none;		
}
#sidebar li {
	padding: 0.5em;	
	font-size:0.9em;
}

#sidebar li a {
	text-decoration:none;
	margin-left:0.4em;
}

#canvasWrapper {
    min-height: 700px;
    padding: 15px 15px 15px 320px;
    width: auto;
}

#canvas {
	min-height:700px;
}

#canvasWrapper ul.tabs {
	height:37px;
}

ul#tabsList {
	overflow:hidden;
	border-bottom:0;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
}

#tabsList li {
	display:inline;
}

#tabsList li .ui-icon-close { float: right; margin: 0.4em 0.2em 0 0; cursor: pointer; }

/* #tabsList li.ui-state-default a {
    text-indent: -99999px;
    width:0;
    padding: 0.5em .1em;
    margin:0;
} */

#tabsList li.ui-state-default span.ui-silk {
	display:block;
	float:left;
	margin:.5em;
	cursor:pointer;
}

#tabsList li.ui-state-active a {
    text-indent: 0;
    width: auto;
    padding: 0.5em 1em;
    margin:0;	
}

#tabsList li.ui-state-active span.ui-silk {
	margin-right:-.2em;
	
}


#footer p {	
	text-align:center;	
}


div.ui-tabs-panel {
    padding: 0.1em 0.05em;	
}

#loadingPanel {
	position:absolute;
	display:none;
	background:#fff;
	width: 20%;
	padding:18px;
	margin:18px auto auto 30%;
	border:1px solid #444;
	text-align:center;
}